.dialog-card {
    display: flex;
}
.client-card-area {
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text-area {
    width: 60%;
}
.functional-area {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}
.photo {
    width: 7rem;
    height:7rem;
    border-radius: 50%; 
    overflow: hidden;  
}
.photo img {
    width: 100%;
}