.homepage {
    display: flex;
}
.homepage-container {
    width: 80%;
    padding: 2%;
}
.sidebar {
    border-right: 1px solid #000;
    height: 100vh;
    width: 20%;
}
.dialog-card {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #000;
    padding: 20px;
    display: flex;
    align-items: center;

}
.dialog-card .fa-icons {
    font-size: 4rem;
    width: 100%;
}
.dialog-card span {
    width: 100%;
}
.dialog-link {
    display: inline-block;
}
.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
}
.header-up {
    display: flex;
}
.header h1 {
    margin-right: 30px;
    font-size: 2rem;
}
.search {
    margin: 10px 0;
}

.main-body {
    border: 1px solid #000;
    width: 100%;
    height: 90%;
}
