.MyForm {
    width: 400px;
    margin: 30px auto;
    border-radius: 5px;
    border: 3px solid #7c7980;
    padding: 15px;
}
.input-container {
    margin: 20px auto;
    width: 90%;
}
.form_label {
    font-size: 1.7rem;
    font-weight: 500;
}
.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.form-buttons button {
    min-width: 150px;
}

.login-button button,
.forgot-button button {
    margin: auto;
}
.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 0.85rem;
    width: 40%;
}
.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 3px solid #5896fb;
    color: #5896fb;
}
.fa-icons {
    color: inherit;
    font-size: 1.15rem;
}
.social-links a:hover {
    border-color: #415cfb;
    color: #415cfb;
}
.link-button:hover {
    color: #415cfb;
}
.errors {
    margin: 10px 0;
    font-size: 0.7rem;
    color: red;
    text-align: left;
    width: 100%;
}
.errors span {
    margin-right: 10px;
}
